<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> 메인페이지 </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/styles.css">
        <script  src = "/all_pages.js"> </script>
        <script>
            window.onscroll = () => {
                // Add next # posts;
                if(window.innerHeight + window.scrollY >= document.body.offsetHeight) { 
                    
                }
            }
        </script>
    </head>
    <body>
        <!-- <div class = "menu_header">
            <div class = "menu_btn">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class = "app_title">그룹밀</div>
            <div class = "profile_btn">
                <div class = "name">박</div>
            </div>
        </div>
        <div class = "content">
            <div class = "posts_box">
                <p classs = "title"></p>
                <p class = "menu">메뉴: </p>
            </div>
            <div class = "chick"></div>
            <div class = "post_btn">
                <div class = "pencil"></div>
            </div>
        </div> -->

        <div class = "header">
            <div class = "menu_icon" style = "flex-grow: 1"> 
                <img src = "../img/menu-icon.png" alt = "menu-icon" onclick = "menu_onclick()">
            </div>
            <div class = "logo" style = "flex-grow: 10">
                <p> <a href = "home.html"> 그룹밀 </a> </p>
            </div>
            <div class = "user" style = "flex-grow: 1">
                <div class = "user_logo" onclick = "user_onclick()">
                    <p id = "user_name"> 박 </p>
                </div>
                <div id = "user_box" style = "display: none;">
                    <p style = "cursor: pointer;" onclick = "location.href = 'profile.html'"> Profile </p>
                    <hr>
                    <p style = "cursor: pointer;" onclick = "logout()"> Logout </p>
                </div>
            </div>
        </div>
        <div id = "menu_list" style = "display: none;">
            <nav>
                <ul>
                    <li> <p> <a href = "find_mealmate.html">밥친구 찾기</a> </p> </li>
                    <li> <p> <a href = "find_orderfee.html">배달비 분담 찾기</a></p></li>
                </ul>
            </nav>
        </div>
        <div class = "post_content">
            <div class = "post">
                <p> 제목: ---- <label style = "font-size: 12px; color: gray;"> &nbsp; (장소, 몇 분 전) </label> </p>
                <p> 유저: ---- (남/여) </p>
                <p> 시간: ---- </p>
                <p> 선호 음식: ---- </p>
            </div>
            <div class = "post">
                <p> 제목: ---- <label style = "font-size: 12px; color: gray;"> &nbsp; (장소, 몇 분 전) </label> </p>
                <p> 유저: ---- (남/여) </p>
                <p> 시간: ---- </p>
                <p> 선호 음식: ---- </p>
            </div>
            <div class = "add_post">
                <img id = "add_btn" src = "../img/add_btn.png" alt = "add_btn" onclick = "location.href = 'post.html'"/>
            </div>
        </div>
    </body>
</html>