<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> 배달비 분담 </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/styles.css">
        <script type = "text/javascript" src = "../js/all_pages.js"> </script>
        <script>
            window.onload = () => {
                init_setting();
            }
            let is_applicant = true, is_maker = false;
            function init_setting() {
                if(is_maker) {
                    document.getElementById("applicants_list").style.display = "block";
                    document.querySelector("hr:nth-of_type(2)").style.display = "block";
                    applicants = [];
                    for(let i = 0; i < applicants.length; i++) {
                        const div_applicants = document.createElement('div');
                        div_applicants.innerHTML = `
                            <div class = "info"> 
                                <p> 유저: ---- (남/여) </p>
                            </div>
                            <div class = "btn">
                                <div>
                                    <button type = "button"> 수락 </button>
                                    <button type = "button"> 거절 </button>
                                </div>
                            </div>
                        `;
                        document.getElementById("applicants").appendChild(div_applicants);
                    }
                    if(applicants.length == 0) {
                        const para = document.createElement('p');
                        para.innerHTML = "No applicants yet";
                        para.style.textAlign = "center";
                        para.style.width = "100%";
                        document.getElementById("applicants").appendChild(para);
                    }
                }
                else if(is_applicant) {
                    document.getElementById("apply_cancel").style.display = "block";
                }
                else {
                    document.getElementById("apply").style.display = "block";
                }
            }
        </script>
    </head>
    <body>
        <div class = "header">
            <div class = "menu_icon" style = "flex-grow: 1"> 
                <img src = "../img/menu-icon.png" alt = "menu-icon" onclick = "menu_onclick()">
            </div>
            <div class = "logo" style = "flex-grow: 10">
                <p> <a href = "home.html"> 그룹밀 </a> </p>
            </div>
            <div class = "user" style = "flex-grow: 1">
                <div class = "user_logo" onclick = "user_onclick()">
                    <p id = "user_name"> 박 </p>
                </div>
                <div id = "user_box" style = "display: none;">
                    <p style = "cursor: pointer;" onclick = "location.href = 'profile.html'"> Profile </p>
                    <hr>
                    <p style = "cursor: pointer;" onclick = "logout()"> Logout </p>
                </div>
            </div>
        </div>
        <div id = "menu_list" style = "display: none;">
            <nav>
                <ul>
                    <li> <p> <a href = "find_mealmate.html">밥친구 찾기</a> </p> </li>
                    <li> <p> <a href = "find_orderfee.html">배달비 분담 찾기</a></p></li>
                </ul>
            </nav>
        </div>
        <div class = "content">
            <div class = "content_title">
                <p> 제목 </p>
            </div>
            <hr style = "margin-left: 20px; margin-right: 20px;">
            <div style = "margin-left: 20px; margin-right: 20px;">
                <p> 유저: ---- (남/여) </p>
                <p> 선호 음식: ---- </p>
            </div>
            <hr style = "margin-left: 20px; margin-right: 20px; display: none;">
            <div id = "applicants_list" style = "display: none;">
                <p style = "text-align: center;"> 신청 유저 목록 </p>
                <div id = "applicants"> </div>
            </div>
            <div id = "apply" style = "display: none;">
                <button type = "button"> 신청 </button>
            </div>
            <div id = "apply_cancel">
                <button type = "button"> 신청 취소 </button>
            </div>
        </div>
    </body>
</html>