<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title> 프로필 </title>
        <link rel = "stylesheet" type = "text/css" href = "../public/styles.css">
        <script type = "text/javascript" src = "../js/all_pages.js"> </script>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </head>
    <body>
        <div class = "header">
            <div class = "menu_icon" style = "flex-grow: 1"> 
                <img src = "../img/menu-icon.png" alt = "menu-icon" onclick = "menu_onclick()">
            </div>
            <div class = "logo" style = "flex-grow: 10">
                <p> <a href = "home.html"> 그룹밀 </a> </p>
            </div>
            <div class = "user" style = "flex-grow: 1">
                <div class = "user_logo" onclick = "user_onclick()">
                    <p id = "user_name"> 박 </p>
                </div>
                <div id = "user_box" style = "display: none;">
                    <p style = "cursor: pointer;" onclick = "location.href = 'profile.html'"> Profile </p>
                    <hr>
                    <p style = "cursor: pointer;" onclick = "logout()"> Logout </p>
                </div>
            </div>
        </div>
        <div id = "menu_list" style = "display: none;">
            <nav>
                <ul>
                    <li> <p> <a href = "find_mealmate.html">밥친구 찾기</a> </p> </li>
                    <li> <p> <a href = "find_orderfee.html">배달비 분담 찾기</a></p></li>
                </ul>
            </nav>
        </div>
        <div class = "content">
            <div class = "content_title">
                <p> 프로필 </p>
            </div>
            <hr style = "margin-left: 20px; margin-right: 20px;">
            <div class = "user_profile">
                <p> <label> <span>ID: </span> **** </label> </p>
                <p> <label> <span>Email: </span>**** </label> </p>
                <p> <label> <span>Nickname: </span>**** </label> </p>
                <p> <label> <span>Password: </span>**** </label> </p>
                <p> <label> <span>Gender: </span>**** </label> </p>
                <p> <label> <span>Age: </span>**** </label> </p>
                <!-- <button type = "button"> 수정 </button> -->
                <button onclick = "goBack()">뒤로가기</button>
            </div>
        </div>
    </body>
</html>