/* color pick */
:root{
    --mint-color: #37ded4;
    --yellow-color: #ffe071;
    --grey-color: #b1b1b1;
    --orange-color: #ED8307;
    --skyblue-color: #0d9ced;
    --blue-color: #0D9CED;
    --darkblue-color: #3F69DD;
    --green-color: #00D249;
    --pink-color: #F40678;
    --red-color: #DE2064;
    --yellow-background: #fff3ca;
    --green-background: #e6ffd2;
    --pink-background: #ffeaea;
    --blue-background: #dff9ff;
    --skyblue-background: #eaf2ff;
}

/* phone size and a tag style */
body{width: 450px; margin: auto; font-family: 'Baloo Bhaijaan 2';}
a{text-decoration: none;}
.visibility_none{visibility: hidden;}
.display_none{display: none;}
.display_wrap{flex-wrap: wrap; width: 355px; justify-content: center;}
.color_mint{color:var(--mint-color);}

/* all pages */
header {
    width: 450px; height: 71px; margin: auto;
    background-color: var(--mint-color); position: relative;
    display: flex; justify-content: space-between;
    padding: 18px; box-sizing: border-box;
}
.header_menu>img{ width: 30px; height: 30px;}
.header_text>a{ color:white; font-weight: 400; font-size: 36px; text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); font-family: 'BM HANNA Pro';}
.header_user{width: 34px; height: 34px; border-radius: 20px; background: white; position: relative;}
.header_user>.header_user_logo{position: absolute; font-size:20px; left:8px; top:8px; font-weight: 500;}
.header_absolute{position: absolute; color: white; font-weight: 700; font-size: 18px; left:61%; bottom: 15px;}

/* ================================================ */
/* main page */
main{background-color: #f9f9f9; height: calc(100vh - 71px); padding-top: 24px; box-sizing: border-box; position: relative; overflow: auto; 
    -ms-overflow-style: none; scrollbar-width: none;}
main::-webkit-scrollbar {display: none;}
/* main list */
.main_list{display: flex; justify-content: space-evenly; margin-bottom: 24px;}
.main_list>div{width:198px; height:87px; font-size: 36px; font-weight:400; font-family: 'BM HANNA Pro'; background: white;
    border-radius: 15px; display: flex; justify-content: center; padding-top: 25px; box-sizing: border-box; box-shadow: 0.3px 0.3px 7px var(--yellow-color);}

/* main post */
.main_post{display: flex; flex-wrap: wrap; justify-content: space-evenly;}
.main_post>section{display: flex; flex-direction: column; width: 198px; height: 119px; border-radius: 15px; background: white; margin-bottom: 18px;
    box-sizing: border-box; padding: 9px 9px 9px 18px; position: relative;}
.main_post>section .main_post_title{font-size: 18px; font-weight: 700; line-height: 31px;}
.main_post{font-size: 15px; font-weight: 500; line-height: 26px;}
.main_eat_post{display: flex; justify-content: space-between;}

/* main post - tag */
.main_tag_list{display: flex; justify-content: end;}
.main_tag_dis{height: 26px; padding: 2px; border-radius: 10px; box-sizing: border-box; text-align: center; margin-top: 18px;}
.main_tag_gen{height: 26px; padding: 2px; border-radius: 10px; box-sizing: border-box; text-align: center; margin-top: 18px; margin-left: 9px;}
.yellow_tag{width: 90px; color:var(--orange-color); background: var(--yellow-background);}
.green_tag{width: 82px; color:var(--green-color); background: var(--green-background);}
.pink_tag{width: 48px; color:var(--pink-color); background: var(--pink-background);}
.blue_tag{width: 48px; color:var(--blue-color); background: var(--blue-background);}

/* main add button */
.main_add{width: 50px; height: 50px; position: absolute; border: 3px solid #878787; background: white; border-radius: 30px; 
    box-sizing: border-box; padding:6px; bottom: 21px; right: 15px;}
.main_add>img{width: 30px; height: 30px;}
/* ================================================ */

/* ================================================ */
/* find_mealmate.html */
.main_age_gen_list{display: flex; flex-direction: column;}
.main_age_gen_list>ul{display:flex; justify-content: space-evenly;}
.main_age_gen_list>ul:first-child{margin-bottom: 15px;}
.main_age_gen_list>ul:nth-child(2){margin-bottom: 25px;}
.main_age_gen_list li{width: 61px; height:28px; border-radius: 10px; border: 2px solid var(--mint-color); box-sizing: border-box; 
    text-align: center; font-size: 15px; font-weight: 700;line-height: 26px; background: white;}
.main_age_gen_list span{color: var(--mint-color);}
.main_age_gen_list>ul:nth-child(2) li:first-child{border:2px solid var(--skyblue-color); color: var(--skyblue-color);}
.main_age_gen_list>ul:nth-child(2) li:first-child>span{color: var(--skyblue-color);}
.main_age_gen_list>ul:nth-child(2) li:nth-child(2){border:2px solid var(--pink-color); color: var(--pink-color);}
.main_age_gen_list>ul:nth-child(2) li:nth-child(2)>span{color: var(--pink-color);}

.main_age_gen_list .selected_age{background: var(--blue-background);}
.main_age_gen_list .selected_male{background: var(--skyblue-background);}
.main_age_gen_list .selected_female{background: var(--pink-background);}
/* ================================================ */

/* ================================================ */
/* signup page */
.content_container{ display: flex; flex-direction: column; width: 450px; align-items: center;}
.content_title{font-size: 20px; font-weight: 700; padding: 27px 0 20px 0;}
.content_line{width:100%; height:3px; background: var(--grey-color); margin-bottom: 46px;}
.content_main>form{width: 349px;}
.signup input{width: 349px; height: 34px; margin-bottom: 23px; margin-top: 8px; border: 1px solid #d7d7d7; 
    border-radius: 3px; color: #6f6f6f; font-size: 15px; font-weight: 700; padding-left: 10px; box-sizing: border-box;}
.signup fieldset{position: relative;}
.signup fieldset>div{position: absolute; top: 30%;}
.signup fieldset label{margin-left:100px;}
.signup fieldset input[type="radio"]{width:20px; height: 20px;}
.signup .width_284{width:284px;}
.signup_age span{margin-right: 37px;}
.content_container .content_main>form .signup_button{height: 57px; padding: 14px; color:white; border-radius: 10px; font-size: 18px; font-weight: 700;}
.content_container .content_main>form .choose_personality{width: 349px;}
.choose_personality .selected_keyword_pink{border-color: var(--pink-color); color: var(--pink-color);}
/* .content_line{width:100%; height:3px; background: var(--grey-color);}
.content_main{width:450px;}
.content_main>form{margin-top: 22px; padding: 0px 50px 0px 50px; display: flex; flex-direction: column; justify-content: flex-start;}
.signup_title{font-size:15px; font-weight:700; color:#6f6f6f; margin-top:24px;}
.signup_box{width:344px; height:32px; border: 1px var(--grey-color) solid; border-radius: 3px; margin-top: 5px;}
.err-message{font-size:12px; font-weight:500; color: #DE1F64; margin-top: 6px; margin-left: 4px;}
.signup_flex{display:flex; flex-direction:row; justify-content:space-between; margin-top: 24px; }
.signup_flex>.signup_title{margin-top:0;}
.signup_flex>.signup_box{width:284px;}
.choose_personality .selected_keyword_red{border-color: var(--red-color); color: var(--red-color);}
.signup_button{width:349px; height:57px; margin: 49px 0px 30px 0px; }
span.required{color:var(--red-color);} */

/* profile page */
.background_gray{background: #f9f9f9; height: calc(100vh - 71px);}
.profile_box{ width: 321px; height: 32px; font-weight: 500; font-size: 15px; border: 1px solid #d7d7d7; 
    background: white; border-radius: 3px; display: flex; align-items: center; box-sizing:border-box; padding-left: 10px;}
.background_gray>.display_flex>span{width:65px; font-size:15px; font-weight: 700;margin-top: 8px;}
.display_flex{display: flex; margin-bottom: 11px;}
.choose_personality{width: 386px;  display: flex; flex-direction: column; align-items: center;}
.choose_personality>div{font-size: 15px; font-weight: 700; align-self: flex-start; margin-bottom: 7px;}
.choose_personality>ul{display: flex; flex-wrap: wrap; width: calc(65px * 4 + 50px); justify-content: center;}
.choose_personality li{width: 65px; height: 34px; border: 1px solid #d7d7d7; border-radius: 10px; background: white; text-align: center; color: #6f6f6f;
    margin: 6px 4.5px; box-sizing: border-box; padding-top: 10px;}
.button_content{font-size: 18px; font-weight: 700; border-radius: 10px; background: var(--mint-color); border: none; color:white}
.profile_button{padding: 5px 8px; align-self: flex-start; margin-top: 13px; margin-left:-10px;}

.choose_personality .selected_keyword_blue{border-color: var(--mint-color); color: var(--mint-color);}

/* matching_delete page */
.main_container{display: flex; flex-wrap: wrap; justify-content: space-evenly; font-size: 15px; font-weight: 500; line-height: 26px;}
.main_container>section{display: flex; flex-direction: column; width: 198px; height: 119px; border-radius: 15px; background: white; margin-bottom: 18px;
    box-sizing: border-box; padding: 9px 9px 9px 18px; position: relative; box-shadow: 0.3px 0.3px 8px var(--yellow-color); margin: 33px 0 36px;}
.main_container>section .main_post_title{font-size: 18px; font-weight: 700; line-height: 31px;}
.main_eat_post{display: flex; justify-content: space-between;}
.cancel_complete_button{width: 349px; font-size: 18px; font-size: 700; background: var(--mint-color); border: none; color:white;
    margin-bottom: 31px; height: 57px; border-radius: 10px; text-align: center;box-sizing: border-box; padding-top:17px;}

/* login page */
.content_login_title{font-size: 36px; font-weight: 400; font-family: 
BM HANNA Pro; margin-top: 29px; margin-bottom: 40px; text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);}
.login_container input{width:349px; height:60px; border: none; border-bottom: 1px solid #d7d7d7; box-sizing: border-box;
    font-size: 15px; font-weight: 500; color: #cfcfcf;}
.login_container p:nth-of-type(2){margin-bottom: 40px;}
.login_container .button_content{color: white; font-size: 18px; font-weight: 700;}
.login_container input:focus{outline: none;}
.login_to_signup{color:#6f6f6f; margin-top:26px;}
.kakao_button{background-image: url(img/kakao_login/ko/kakao_login_medium_wide.png); margin-top: 66px; width: 349px; height: 57px; background-size: 100% 100%; }
.email_button{margin-top: 18px; padding: 19px 118px 14px 118px; background-color: var(--blue-color);}

/* matching page */
.main_container{width: 410px; display: flex; flex-direction: column; margin: auto; 
    background: white; align-items: center; border-radius: 15px;}
.main_container .main_container_title{font-size: 18px; font-weight: 700; margin:17px 0 9px;}
.main_container .yellow_line{width: 355px; border: 1.5px solid var(--yellow-color);}
.main_container .main_container_select{width:100%; display:grid; grid-template-columns: 1fr 0fr 1fr; margin: 17px 0;}
.main_container a{color:black;}
.main_container .font_border{font-size: 20px; font-weight: 700;}
.main_container .main_container_select>.vertical_line{height:30px; width: 0; border: 1px solid #666; justify-self: center;}
.main_container .main_container_select>div{text-align: center;}
.main_container form{width: 357px; display: flex; flex-direction: column;}
.main_container form label{display: flex; justify-content: space-between;}
.main_container form input{width: 307px; height: 30px; border-radius: 3px; border: 1px solid #d7d7d7;box-sizing: border-box; margin-bottom:15px;}
.main_container form .create_button{align-self: center; margin: 9px 0 31px; height: 57px; border-radius: 10px;}

/* report page */
.main_container #report{width:357px; height:126px; resize: none; margin: 21px 0 30px; box-sizing: border-box; 
    border:1px solid #d7d7d7; border-radius: 3px; padding:10px;}
.main_container form .display_flex{justify-content: space-around;}
.main_container form .display_flex>input{width:155px; height: 54px; border-radius: 10px; font-size: 18px; font-weight: 700;}
.main_container form .display_flex .cancel_report{color: white; background: var(--grey-color);}

/* review page */
.report_button{font-size: 10px; font-weight: 700; text-decoration: underline; color: #6f6f6f; margin:12px 0;} 
.selected_second_title{font-size:15px; font-weight: 700; margin-top: 40px; color: #6f6f6f;}
.selected_review_button{height:34px; border-radius: 10px; border: 2px solid #d7d7d7; box-sizing: border-box; 
text-align: center; font-size: 12px; font-weight: 700; color: #d7d7d7; padding: 2.5px 14.5px 0; margin-top: 15px;}
.selected_mint_color{color: var(--mint-color); border-color: var(--mint-color);}
.display_flex .selected_review_button{margin-left: 9px; margin-right:9px;}
.select_under_title{ margin-top: 13px; }

/* apple page */
.main_container .display_flex .main_post_title{font-size: 18px; font-weight: 500; margin-top:20px;}
.main_container .display_flex>.main_tag_list{margin-right: 5px;}
.main_container .display_flex>.margin_left5{margin-left: 5px;}
.main_container .width_355px{width: 355px; justify-content: space-between;}
.main_container>.menu_store{font-size: 15px; font-weight: 500; }
.main_container_center_title{margin-bottom:13px; font-size: 18px;}
.main_container .likely_form{width: 355px;}
.main_container .likely_form>.likely_form_line{display: grid; grid-template-columns: 2fr 0.5fr 9fr; margin: 12px 0;}
.main_container .likely_form>.likely_form_line>.likely_form_title{width: 70px; text-align: center;}
.main_container .likely_form>.likely_form_line>.likely_form_verticalLine{height:22px; width: 0px; border: 0.5px solid#666; }
.main_container .likely_form>.likely_form_line>.likely_form_value{width:250px;}
.main_container .likely_form>.likely_form_line>.likely_form_value ul{display: flex; flex-wrap: wrap; margin-bottom: 0;}
.main_container .likely_form>.likely_form_line>.likely_form_value .selected_review_button{margin: -4px 8px 12px 0; }

/* mealmate accept */
.mealmate_request{width:155px; height: 54px; border-radius: 10px; font-size: 18px; font-weight: 700; border:none; background: var(--grey-color); color: white; margin:0 15px;}
.mealmate_request_mint{background-color: var(--mint-color);}

.wrap_context p {word-wrap: break-word;}