<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style1.css">
    <title>그룹밀 - 신청</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">밥 친구로 신청하시겠습니까?</div>
            <div class="yellow_line"></div>
            <div class="display_flex width_355px">
                {% if connection.url == "url" %}
                <div class="margin_left5">
                    <p class="main_post_title">{{connection.name}}</p>
                    <p class="menu_store">메뉴: {{connection.food}}</p>
                </div>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    <div class="main_tag_gen pink_tag">{{user.age + ' ' + gender}}</div>
                </div>
                {% else %}
                <div class="margin_left5">
                    <p class="main_post_title">{{connection.name}}</p>
                    <p class="menu_store">가게: {{connection.food}}</p>
                </div>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                </div>
                {% endif %}
            </div>
            <div class="main_container_center_title">🙋‍♀️방장🙋‍️</div>
            <div class="likely_form">
                <div class="likely_form_line">
                    <div class="likely_form_title">닉네임</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{user.nick}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">성격</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">
                        <ul class="display_flex">
                            {% if user.extrovert == true %}
                            <li class="selected_review_button">외향적</li>
                            {% endif %}
                            {% if user.introvert == true %}
                            <li class="selected_review_button">내성적</li>
                            {% endif %}
                            {% if user.emotional == true %}
                            <li class="selected_review_button">감정적</li>
                            {% endif %}
                            {% if user.rational == true %}
                            <li class="selected_review_button">이성적</li>
                            {% endif %}
                            {% if user.planned == true %}
                            <li class="selected_review_button">계획적</li>
                            {% endif %}
                            {% if user.planned == true %}
                            <li class="selected_review_button">즉흥적</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">성별</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{gender}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">나이</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{user.age}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">리뷰</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">
                        <ul class="display_flex">
                            {% if user.fun != 0 %}
                            <li class="selected_review_button selected_mint_color">{{'유쾌함 ' + user.fun}}</li>
                            {% endif %}
                            {% if user.communication != 0 %}
                            <li class="selected_review_button selected_mint_color">{{'말을 잘 함 ' + user.communication}}</li>
                            {% endif %}
                            {% if user.comfortable != 0 %}
                            <li class="selected_review_button selected_mint_color">{{'배려를 잘 해줌 ' + user.comfortable}}</li>
                            {% endif %}
                            {% if user.nice != 0 %}
                            <li class="selected_review_button selected_mint_color">{{'경청을 잘 해줌 ' + user.nice}}</li>
                            {% endif %}
                            {% if user.ontime != 0 %}
                            <li class="selected_review_button selected_mint_color">{{'시간 약속을 잘 지킴 ' + user.ontime}}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cancel_complete_button" onclick="request_again_onclick('{{connection.id}}')">신청하기</div>
        </div>
    </main>
    <script src="js/all_pages.js"></script>
</body>
</html>