<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style1.css">
    <title>그룹밀 - 방 만들기</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">방 만들기</div>
            <div class="yellow_line"></div>
            <div class="main_container_select">
                <div><a href="/create_room">밥 친구</a></div>
                <div class="vertical_line"></div>
                <div class="font_border"><a href="/create_room_order">배달 함께 주문</a></div>
            </div>
            <form method="post" action="/connection/create_match">
                <div><label for=""><span>방 이름</span><input type="text" name="name" required autofocus></label></div>
                <div><label for=""><span>&nbsp; 메뉴</span><input type="text" name="food" required></label></div>
                <div><label for=""><span>&nbsp; 링크</span><input type="url" name="url" required></label></div>
                <input type="hidden" name="type" value="deliver"/>
                <input type="hidden" id = "lat" name="lat" value=""/>
                <input type="hidden" id = "lon" name="lon" value=""/>
                <input class="button_content create_button" type="submit" value="방 만들기">
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/geolocation.js"></script>
</body>
</html>