<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>그룹밀 - 방 만들기</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "../public/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "home.html">그룹밀</a>
        </div>
        <div class = "header_user">
            <div class = "header_user_logo"><a href="profile.html">김</a></div>
        </div>
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">방 만들기</div>
            <div class="yellow_line"></div>
            <div class="main_container_select">
                <div class="font_border"><a href="create_room.html">밥 친구</a></div>
                <div class="vertical_line"></div>
                <div><a href="create_room_order.html">배달 함께 주문</a></div>
            </div>
            <form action="post">
                <div><label for=""><span>방 이름</span><input type="text" required autofocus></label></div>
                <div><label for=""><span>&nbsp; 메뉴</span><input type="text" required></label></div>
                <input class="button_content create_button" type="submit" value="방 만들기">
            </form>
        </div>
    </main>
</body>
</html>