<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style1.css">
    <script type = "text/javascript" src="js/get_posts.js"></script>
    <title>그룹밀 - 밥 친구</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
        <div class="header_absolute">밥 친구</div>
    </header>
    <main>
        <div class="main_age_gen_list">
            <ul>
                <li class="selected_age" onclick="this.classList.toggle('selected_age');"><span>#</span> 10대</li>
                <li class="selected_age" onclick="this.classList.toggle('selected_age');"><span>#</span> 20대</li>
                <li onclick="this.classList.toggle('selected_age');"><span>#</span> 30대</li>
                <li class="selected_age" onclick="this.classList.toggle('selected_age');"><span>#</span> 40대</li>
                <li><span onclick="this.classList.toggle('selected_age');">#</span> 50대</li>
            </ul>
            <ul>
                <li class="selected_gender selected_male" onclick="this.classList.toggle('selected_male');"><span>#</span> 남자</li>
                <li onclick="this.classList.toggle('selected_female')"><span>#</span> 여자</li>
                <li class="visibility_none"></li>
                <li class="visibility_none"></li>
                <li class="visibility_none"></li>
            </ul>
        </div>
        <div class="main_post">
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">저랑 곱창드실분~</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 곱창볶음</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    <div class="main_tag_gen pink_tag">23 여</div>
                </div>
            </section>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">삼겹살 🤤 머거용</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 삼겹살</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                    <div class="main_tag_gen pink_tag">32 여</div>
                </div>
            </section>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">🍔🍟🍔</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 버거</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                    <div class="main_tag_gen pink_tag">21 여</div>
                </div>
            </section>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">금요일 밤은 치맥!</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 치킨</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">30분 거리</div>
                    <div class="main_tag_gen blue_tag">20 남</div>
                </div>
            </section>
        </div>
        <div class = "main_add" onclick="location.href='/post'">
            <img id = "add_btn" src = "img/free-icon-soup-5322266.png" alt = "add_btn"/>
        </div>
    </main>
</body>
</html>