<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>그룹밀 - 배달</title>
</head>
<body>
    <header>
        <div class="header_menu"> 
            <img src="img/menu.png" alt = "menu-icon">
        </div>
        <div class="header_text">
            <a href="/">그룹밀</a>
        </div>
        <div class="header_user">
            <div class="header_user_logo">김</div>
        </div>
        <div class="header_absolute">배달</div>
    </header>
    <main>
        <div class="main_post">
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 순대국</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 아이스아메리카노</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">3분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 맥도날드버거</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 뿌링클</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
        </div>
        <div class = "main_add" onclick="location.href='/post'">
            <img id = "add_btn" src = "img/free-icon-soup-5322266.png" alt = "add_btn"/>
        </div>
</body>
</html>