<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style1.css">
    <title>그룹밀 - 배달</title>
</head>
<body>
    <header>
        <div class="header_menu"> 
            <img src="/img/menu.png" alt = "menu-icon">
        </div>
        <div class="header_text">
            <a href="/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo" onclick = "user_onclick()">김</div>
            <div id="user_box">
                <p onclick = "location.href = 'profile'">프로필</p>
                <hr>
                <p onclick = "logout()">로그아웃</p>
            </div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
        <div class="header_absolute">배달</div>
    </header>
    <main>
        <div class="main_post">
            <!-- <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>가게: 타오마라탕 신촌점</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>가게: 이디야카페</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">3분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>각게: 맥도날드</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>가게: 강호족발 신촌점</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section> -->
            {% for connection in connections %}
            {% if connection.url != 'url' %}
            <section onclick="request_onclick('{{connection.id}}')">
                <p class="main_post_title">{{connection.name}}</p>
                <p>가게: {{connection.food}}</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
        </div>
        <div class = "main_add" onclick="location.href='/create_room_order'">
            <img id = "add_btn" src = "img/free-icon-soup-5322266.png" alt = "add_btn"/>
        </div>
    </main>
    <script src="js/all_pages.js"></script>
</body>
</html>