<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>그룹밀 메인페이지</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "../public/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "home.html">그룹밀</a>
        </div>
        <div class = "header_user">
            <div class = "header_user_logo">김</div>
        </div>
    </header>
    <main>
        <div class="main_list">
            <div onclick="location.href='find_mealmate.html'">
                🍚 밥 친구
            </div>
            <div onclick="location.href='find_orderfee.html'">
                🏍️ 배달 주문
            </div>
        </div>
        <div class="main_post">
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 순대국</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">저랑 곱창드실분~</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 곱창볶음</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    <div class="main_tag_gen pink_tag">23 여</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 맥도날드버거</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 뿌링클</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
        </div>
        <div class = "main_add">
            <img id = "add_btn" src = "../public/img/free-icon-soup-5322266.png" alt = "add_btn"/>
        </div>
    </main>
</body>
</html>