<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>그룹밀 메인페이지</title>
</head>
<body>
    <header>
        <div class = "header_menu" onclick = "menu_onclick()"> 
            <img src = "img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo" onclick = "user_onclick()">김</div>
            <div id="user_box">
                <p onclick = "location.href = 'profile'">프로필</p>
                <hr>
                <p onclick = "logout()">로그아웃</p>
            </div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_list" id="menu">
            <div onclick="location.href='/mealmate'">
                🍚 밥 친구
            </div>
            <div onclick="location.href='/orderfee'">
                🏍️ 배달 주문
            </div>
        </div>
        <div class="main_post">
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>가게: 타오마라탕 신촌점</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">저랑 곱창드실분~</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 곱창볶음</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    <div class="main_tag_gen pink_tag">23 여</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>가게: 맥도날드버거</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis green_tag">5분 거리</div>
                </div>
            </section>
            <section>
                <p class="main_post_title">🏍️ 배달 함께 주문 🏍️</p>
                <p>메뉴: 뿌링클</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            {% for connection in connections %}
            {% if connection.url == "url" %}
            <section onclick="request_onclick('{{connection.id}}')">
                <div class="main_eat_post">
                    <p class="main_post_title">{{connection.name}}</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: {{connection.food}}</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    {% for user in users %}
                    {% if user.id == connection.hostUserId %}
                    {% if user.gender == false %}
                    <div class="main_tag_gen pink_tag">{{user.age + '여'}}</div>
                    {% else %}
                    <div class="main_tag_gen blue_tag">{{user.age + '남'}}</div>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            {% else %}
            <section onclick="request_onclick('{{connection.id}}')">
                <p class="main_post_title">{{connection.name}}</p>
                <p>가게: {{connection.food}}</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">10분 거리</div>
                </div>
            </section>
            {% endif %}
            {% endfor %}
        </div>
        <div class = "main_add" onclick="location.href='/create_room'">
            <img id = "add_btn" src = "img/free-icon-soup-5322266.png" alt = "add_btn"/>
        </div>
    </main>
    <script src="js/all_pages.js"></script>
</body>
</html>