<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>로그인</title>
</head>
<body>
    <div class="content_container login_container">
        <div class="content_login_title">그룹밀</div>
        <form action="post" action="home.html" autocomplete="on">
            <p><label><input type = "text" name = "email" placeholder="아이디"/></label></p>
            <p><label><input type = "password" name = "pw" placeholder="비밀번호"/></label></p>
            <input class="button_content sign_button" type="submit" value="로그인">
        </form>
        <div class = "kakao_button"></div>
        <button type = "button" class = "button_content email_button">이메일로 로그인</button>
        <div class="login_to_signup">
            혹시, '그룹밀'이 처음이신가요? &nbsp;<a class="color_mint" href="signup.html">회원가입</a>
        </div>
    </div>
</body>
</html>