<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>그룹밀</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">방장의 수락을 기다리는 중입니다!</div>
            <div class="yellow_line"></div>
            <section>
                <div class="main_eat_post">
                    <p class="main_post_title">저랑 곱창드실분~</p>
                    <span>1 / 2</span>
                </div>
                <p>메뉴: 곱창볶음</p>
                <div class="main_tag_list">
                    <div class="main_tag_dis yellow_tag">20분 거리</div>
                    <div class="main_tag_gen pink_tag">23 여</div>
                </div>
            </section>
            <div class="cancel_complete_button">신청취소</div>
        </div>
    </main>
</body>
</html>