<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>그룹밀</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "../public/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "home.html">그룹밀</a>
        </div>
        <div class = "header_user">
            <div class = "header_user_logo">김</div>
        </div>
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">방장의 수락을 기다리는 중입니다!</div>
            <div class="yellow_line"></div>
            
            <div class="display_flex">
                <input class="button_content submit_report" type="submit" value="신고하기">
                <input class="cancel_report" type="button" value="뒤로가기" onclick="history_back()">
            </div>
        </div>
    </main>
</body>
</html>