<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>그룹밀 - 신청</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">방장님, 새로운 신청이 들어왔어요!</div>
            <div class="yellow_line"></div>
            <div class="likely_form">
                <div class="likely_form_line">
                    <div class="likely_form_title">닉네임</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{user.nick}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">성격</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">
                        <ul class="display_flex">
                            <li class="selected_review_button">외향적</li>
                            <li class="selected_review_button">감성적</li>
                        </ul>
                    </div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">성별</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{gender}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">나이</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">{{user.age}}</div>
                </div>
                <div class="likely_form_line">
                    <div class="likely_form_title">리뷰</div>
                    <div class="likely_form_verticalLine"></div>
                    <div class="likely_form_value">
                        <ul class="display_flex">
                            <li class="selected_review_button selected_mint_color">유쾌함 13</li>
                            <li class="selected_review_button selected_mint_color">말을 잘 함 10</li>
                            <li class="selected_review_button selected_mint_color">배려를 잘 해줌 9</li>
                            <li class="selected_review_button selected_mint_color">경청을 잘 해줌 2</li>
                            <li class="selected_review_button selected_mint_color">시간 약속을 잘 지킴 4</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="display_flex">
                <button class="mealmate_request mealmate_request_mint">수락하기</button>
                <button class="mealmate_request" onclick="history_back()">거절하기</button>
            </div>
        </div>
    </main>
    <script>
        function history_back() {
            history.back();
        }
    </script>
</body>
</html>