<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>프로필</title>
</head>
<body>
    <header>
        <div class="header_menu"> 
            <img src="img/menu.png" alt = "menu-icon">
        </div>
        <div class="header_text">
            <a href="/">그룹밀</a>
        </div>
        <div class="header_user">
            <div class="header_user_logo"><a href="profile.html">김</a></div>
        </div>
    </header>
    <div class="content_container background_gray">
        <div class="content_title">프로필</div>
        <div class="display_flex"><span>닉네임</span><div class="profile_box">박경욱</div></div>
        <div class="display_flex"><span>이메일</span><div class="profile_box">abcde123@gmail.com</div></div>
        <div class="display_flex"><span>성별</span><div class="profile_box">남자</div></div>
        <div class="display_flex"><span>나이</span><div class="profile_box">21</div></div>
        <div class="display_flex"><span>비밀번호</span><div class="profile_box">**********</div></div>
        <div class="choose_personality">
            <div>나의 성격 키워드 (최대 2개)</div>
            <ul>
                <li class="selected_keyword_blue">외향적</li>
                <li>내향적</li>
                <li>감성적</li>
                <li>이성적</li>
                <li class="selected_keyword_blue">계획적</li>
                <li>즉흥적</li>
            </ul>
            <button class="button_content profile_button" onclick="window.history.back();">뒤로가기</button>
        </div>
    </div>
</body>
</html>