<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>프로필</title>
</head>
<body>
    <header>
        <div class="header_menu"> 
            <img src="img/menu.png" alt = "menu-icon">
        </div>
        <div class="header_text">
            <a href="/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo" onclick = "user_onclick()">김</div>
            <div id="user_box">
                <p onclick = "location.href = 'profile'">프로필</p>
                <hr>
                <p onclick = "logout()">로그아웃</p>
            </div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <div class="content_container background_gray">
        <div class="content_title">프로필</div>
        <div class="display_flex"><span>닉네임</span><div class="profile_box">{{user.nick}}</div></div>
        <div class="display_flex"><span>이메일</span><div class="profile_box">{{user.email}}</div></div>
        <div class="display_flex"><span>성별</span><div class="profile_box">{{gender}}</div></div>
        <div class="display_flex"><span>나이</span><div class="profile_box">{{user.age}}</div></div>
        <div class="display_flex"><span>비밀번호</span><div class="profile_box">************</div></div>
        <div class="choose_personality">
            <div>나의 성격 키워드 (최대 2개)</div>
            <ul>
                <li {% if introvert %} class="selected_keyword_blue" {% endif %}>외향적</li>
                <li {% if extrovert %} class="selected_keyword_blue" {% endif %}>내향적</li>
                <li {% if emotional %} class="selected_keyword_blue" {% endif %}>감성적</li>
                <li {% if rational %} class="selected_keyword_blue" {% endif %}>이성적</li>
                <li {% if planned %} class="selected_keyword_blue" {% endif %}>계획적</li>
                <li {% if impromptu %} class="selected_keyword_blue" {% endif %}>즉흥적</li>
            </ul>
            <button class="button_content profile_button" onclick="window.history.back();">뒤로가기</button>
        </div>
    </div>
    <script src="js/all_pages.js"></script>
</body>
</html>