<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style1.css">
    <title>그룹밀</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "/">그룹밀</a>
        </div>
        {% if isLoggedIn %}
        <div class = "header_user">
            <div class = "header_user_logo"><a href="/profile">김</a></div>
        </div>
        {% else %}
        <div class = "to_login_button"><a href="/login">로그인</a></div>
        {% endif %}
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">🍚 밥 친구 리뷰하기 🍚</div>
            <div class="yellow_line"></div>
            <div class="selected_second_title">'밥 친구'는 선호 성격과 일치하는 사람이었나요?</div>
            <ul class="display_flex">
                <li class="selected_review_button selected_mint_color" id = "personality_yes">예</li>
                <li class="selected_review_button" id = "personality_no">아니오</li>
            </ul>
            <div class="selected_second_title select_under_title">'밥 친구'는 어땠는지 키워드를 눌러주세요!</div>
            <ul class="display_flex display_wrap">
                <li class="selected_review_button" onclick = "onclick_keyword(this, 'ontime');">시간 약속을 잘 지킴</li>
                <li class="selected_review_button" onclick = "onclick_keyword(this, 'fun');">유쾌함</li>
                <li class="selected_review_button" onclick = "onclick_keyword(this, 'communication');">말을 잘 함</li>
                <li class="selected_review_button" onclick = "onclick_keyword(this, 'comfortable');">배려를 잘 해줌</li>
                <li class="selected_review_button" onclick = "onclick_keyword(this, 'nice');">경청을 잘 해줌</li>
            </ul>
            <div class="report_button" onclick = "return location.href = '/report'">문제가 있었나요? 신고하기 ️🚨</div>
            <form method = "POST" action = '/review/evaluation'>
                <input type = "hidden" id = "ontime" name = "ontime" value = "false"/>
                <input type = "hidden" id = "fun" name = "fun" value = "false"/>
                <input type = "hidden" id = "communication" name = "communication" value = "false"/>
                <input type = "hidden" id = "comfortable" name = "comfortable" value = "false"/>
                <input type = "hidden" id = "nice" name = "nice" value = "false"/>
                <div class="cancel_complete_button" onclick = "document.forms[0].submit()">리뷰 완료!</div>
            </form>
        </div>
    </main>
    <script text="text/javascript" src="js/review_eat.js"></script>
</body>
</html>