<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/reset.css">
    <link rel="stylesheet" href="../public/style1.css">
    <title>그룹밀</title>
</head>
<body>
    <header>
        <div class = "header_menu"> 
            <img src = "../public/img/menu.png" alt = "menu-icon">
        </div>
        <div class = "header_text">
            <a href = "home.html">그룹밀</a>
        </div>
        <div class = "header_user">
            <div class = "header_user_logo"><a href="profile.html">김</a></div>
        </div>
    </header>
    <main>
        <div class="main_container">
            <div class="main_container_title">🏍️ 배달 친구 리뷰하기 🏍️</div>
            <div class="yellow_line"></div>
            <div class="selected_second_title">'배달 친구'는 어땠는지 키워드를 눌러주세요!</div>
            <ul class="display_flex">
                <li class="selected_review_button selected_mint_color">시간 약속을 잘 지킴</li>
            </ul>
            <div class="report_button">문제가 있었나요? 신고하기 ️🚨</div>
            <div class="cancel_complete_button">리뷰 완료!</div>
        </div>
    </main>
</body>
</html>